<form>
  <div class="w-full">
    <p class="text-xl pb-3 flex items-center">
      <i class="fas fa-list mr-3"></i> Submitted Proposals
    </p>
    <div class="bg-white overflow-auto">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
          <tr>
            
            <th
              class="text-center py-3 px-4 uppercase font-semibold text-sm"
            >
              ID Project
            </th>
            <th
              class="text-center py-3 px-4 uppercase font-semibold text-sm">Nama STO</th>
              <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Segmen</th>
                <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Nama Alpro</th>
                <th class="text-center py-3 px-4 uppercase font-semibold text-sm">jenis QE</th>
                <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Status</th>
            
          </tr>
        </thead>
        <tbody id="tabel" class="text-gray-700">
             <!--if proposal.proposer exist in proposer then return proposer.name  -->
              
              
              <% proposal.forEach(function(proposal) { if ((proposal.design && proposal.rab) || (proposal.status == "REJECTED")) { %>

                <td class="text-center py-3 px-4"><%= proposal.idProposal %></td>
                <td class="text-center py-3 px-4"><%= proposal.namaSTO %></td>
                <td class="text-center py-3 px-4"><%= proposal.segmen %></td>
                <td class="text-center py-3 px-4"><%= proposal.namaAlpro %></td>
                <td class="text-center py-3 px-4"><%= proposal.jenisQE %></td>
                <td class="text-center py-3 px-4"><%= proposal.status %></td>

              </tr>
              <% } %>
              <% }); %>
        </tbody>
      </table>
    </div>
    <!-- button to show the next data  -->
    
    
  </div>
</form>
