<form>
  <p class="text-xl pb-3 flex items-center ml-1">
    <i class="fas fa-list mr-3"></i> Submitted Proposal With Design And RAB
  </p>
  <div class="rounded overflow-hidden shadow-lg bg-white">
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full text-center" style="width: 150px">
              <thead class="bg-gray-800 text-white">
                <tr>
                  <th
                    class="text-center py-3 px-4 uppercase font-semibold text-sm"
                  >
                    QE ID
                  </th>
                  <th
                    class="text-center py-3 px-4 uppercase font-semibold text-sm"
                  >
                    Nama STO
                  </th>
                  <th
                    class="text-center py-3 px-4 uppercase font-semibold text-sm"
                  >
                    Segmen
                  </th>
                  <th
                    class="text-center py-3 px-4 uppercase font-semibold text-sm"
                  >
                    nama Alpro
                  </th>
                  <th
                    class="text-center py-3 px-4 uppercase font-semibold text-sm"
                  >
                    Jenis QE
                  </th>
                  <th
                    class="text-center py-3 px-4 uppercase font-semibold text-sm"
                  >
                    Status
                  </th>
                </tr>
              </thead>             
              <tbody>
                <%
                  var isDataAvailable = false;
                  proposal.forEach(function (proposal, index) {
                    if(proposal.design && proposal.rab){
                      isDataAvailable = true;
                %>
                  <tr class="bg-white border-b text-center">
                    <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                      <%= proposal.idProposal %>
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%= proposal.namaSTO %>
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%= proposal.segmen %>
                    </td>
                    <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                      <%= proposal.namaAlpro %>
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%= proposal.jenisQE %>
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%= proposal.status%>
                    </td>
                  </tr>
                <%
                   }
                    });
                  if (!isDataAvailable) {
                %>
                  <tr>
                    <td colspan="6" class="text-center py-3 px-4">No data available</td>
                  </tr>
                <%
                  }
                %>
              </tbody>   
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
