<form>
  <p class="text-xl pb-3 flex items-center ml-1">
    <i class="fas fa-list mr-3"></i> Dashboard
  </p>
  <div
    class="flex flex-col items-center rounded overflow-hidden shadow-lg bg-white"
  >
    <div class="w-2/5 h-2/5">
      <canvas id="myChart"></canvas>
    </div>
    <!-- tambahkan 7 kotak dengan css grid -->
    <div class="grid grid-cols-4 mb-4">
      <a href="/submitted">
        <div
          class="w-48 h-32 submitted transition ease-in-out duration-150 rounded-lg mx-3 my-2 text-center"
        >
          <p class="text-5xl font-bold pt-8">
            <!-- get proposal count that status is submitted -->
            <% let submitted = 0; %> <% proposal.forEach((item) => { if
            (!item.design && !item.rab && item.status == "SUBMITTED") {
            submitted++; } }) %> <%= submitted %>
          </p>
          <p class="text-sm fon">SUBMITTED</p>
        </div>
      </a>
      <a href="/needapproval">
        <div
          class="w-48 h-32 needapproval transition ease-in-out duration-150 rounded-lg mx-3 my-2 text-center"
        >
          <p class="text-5xl font-bold pt-8">
            <% let needapproval = 0; %> <% proposal.forEach((item) => { if
            (item.design && item.rab && item.status == "SUBMITTED") {
            needapproval++; } }) %> <%= needapproval %>
          </p>
          <p class="text-sm">NEED APPROVAL</p>
        </div>
      </a>
      <a href="/approved">
        <div
          class="w-48 h-32 approved transition ease-in-out duration-150 rounded-lg mx-3 my-2 text-center"
        >
          <p class="text-5xl font-bold pt-8">
            <% let approved = 0; %> <% proposal.forEach((item) => { if
            (item.status === "APPROVED") { approved++; } }) %> <%= approved %>
          </p>
          <p class="text-sm">APPROVED</p>
        </div>
      </a>
      <a href="/rejected">
        <div
          class="w-48 h-32 rejected transition ease-in-out duration-150 rounded-lg mx-3 my-2 text-center"
        >
          <p class="text-5xl font-bold pt-8">
            <% let rejected = 0; %> <% proposal.forEach((item) => { if
            (item.status === "REJECTED") { rejected++; } }) %> <%= rejected %>
          </p>
          <p class="text-sm">REJECTED</p>
        </div>
      </a>
      <a href="/redesignproposal">
        <div
          class="w-48 h-32 redesign transition ease-in-out duration-150 rounded-lg mx-3 my-2 text-center"
        >
          <p class="text-5xl font-bold pt-8">
            <% let redesign = 0; %> <% proposal.forEach((item) => { if
            (item.status === "REDESIGN") { redesign++; } }) %> <%= redesign %>
          </p>
          <p class="text-sm">REDESIGN</p>
        </div>
      </a>
      <a href="/installationproposal">
        <div
          class="w-48 h-32 installation transition ease-in-out duration-150 rounded-lg mx-3 my-2 text-center"
        >
          <p class="text-5xl font-bold pt-8">
            <% let installation = 0; %> <% proposal.forEach((item) => { if
            (item.status === "INSTALLATION") { installation++; } }) %> <%=
            installation %>
          </p>
          <p class="text-sm">INSTALLATION</p>
        </div>
      </a>
      <a href="/closedproposal">
        <div
          class="w-48 h-32 closed transition ease-in-out duration-150 rounded-lg mx-3 my-2 text-center"
        >
          <p class="text-5xl font-bold pt-8">
            <% let closed = 0; %> <% proposal.forEach((item) => { if
            (item.status === "CLOSED") { closed++; } }) %> <%= closed %>
          </p>
          <p class="text-sm">CLOSED</p>
        </div>
      </a>
    </div>
  </div>
</form>
